:host {
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
}

.jumbotron-fluid {
    background-color: transparent;
    color: white;
    border-radius: 0;
    text-align: center;
}

.card {
    background-color: #181818;
    color: white;
    border-radius: none;
}

.section-processgovern {
    background-position: center center;
    background-size: cover;

    &:before{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.90) 0%,rgba(8, 8, 8, 1) 100%);
        content: "";
        display: block;
        left: 250;
        top: 20;
        height: 88%;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    & .container, .jumbotron-fluid {
        position: relative;
        z-index: 2;
    }
}