<h1>{{hero?.title}}</h1>
<h3>{{hero?.subtitle}}</h3>
<div class="container-cards my-3">
    <div class="card m-3 p-3" *ngFor="let item of hero?.contents">
        <div class="card-body">
            <img [src]="item?.image" width="96" height="96">
                
            <div class="description text-center">
                <h4 class="info-title">{{item?.title}}</h4>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-round btn-lg btn-outline-info btn-move-right" routerLink="/explore">
    Start developing faster <i class="nc-icon nc-minimal-right"></i>
</button>