:host {
    height:90vh;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
   // background-image: url('http://res.cloudinary.com/dzmrr9uj9/image/upload/background/hexagon_pattern_blue_bg_1920x1080.png');
}