:host {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    overflow: hidden;
}

.header {
    background-color: #f8f9fa;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    width:100%;
    justify-content:center;
    align-items:center;
}

.content {
    background: #ffffff;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    overflow: auto;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    height: 95%;
  }

app-explore-item  {
    width: 250px;
}
