<div class="section section-gray p-b-3" style="display:flex;flex-direction:column;flex-wrap:nowrap;justify-content:center;align-items:center;">
    
        <div class="m-b-3">
            <h2 class="title">Discover your favorites</h2>
        </div>
        <div class="project-pills my-3">
            <ngb-tabset (tabChange)="onTabClicked($event)" type="pills" class="nav nav-pills nav-pills-danger justify-content-center">
                <ngb-tab [id]="item?.slug" [title]="item?.title" *ngFor="let item of architectureMetadata?._embedded?.metadataResourceList">
                    <ng-template ngbTabContent>
                        <div class="row" *ngIf="featuredProductResult" style="margin:50px 250px;">
                            <div class="col-md-3" *ngFor="let productitem of featuredProductResult?._embedded?.productInfoResourceList">
                                <product-card [item]="productitem"></product-card>
                            </div>  
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
        
        

        <div style="display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:center;">
            <button class="btn btn-round btn-outline-danger" id="successBtn" data-toggle="morphing" data-rotation-color="gray" routerLink="/search">Advance Search</button>
        </div>
            
    
    </div>