<!--
        <ngb-tabset [justify]="'center'" *ngIf="items">
            <ngb-tab [id]="item?.name" *ngFor="let item of items">
                <ng-template ngbTabTitle>
                        {{item?.title}}
                </ng-template>
                <ng-template ngbTabContent>
                        <app-option-grid [items]="item?.options"></app-option-grid>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
-->


<ul class="nav nav-tabs nav-justified" *ngIf="items">
  <li class="nav-item" *ngFor="let item of items">
        <a class="nav-link" data-toggle="tab" [ngClass]="{'active' : item?.slug === selected?.slug}" (click)="onSelectOption(item)">{{item?.title}}</a>
  </li>
</ul>