.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    height: 95%;
    overflow: auto;
  }

  .cards .card-item {
    margin: 10px;
    max-width: 15vw;
  }


.card img {
    border-radius: 0px;
}