:host {
    display: block;
    height: 100%;
    background-color: black;
}

.card {
    width: 150px;
    margin-bottom: 0;
    background-color: #181818;
    color: white;
}

.jumbotron {
    background-color: transparent;
}

.schema-container {
   margin: 0 auto;
   max-width: 1090x;
   position: relative;
   background: #222;
}

.section-schema {
    background-position: center center;
    background-size: cover;

    &:before{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.90) 0%,rgba(8, 8, 8, 1) 100%);
        content: "";
        display: block;
        left: 0;
        top: 20;
        height: 90%;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    & .container-fluid {
        position: relative;
        z-index: 2;
    }
}

.card:hover .overlay {
    transform: scale(1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 0%;
    transition: .5s ease;
    background: #3a7bd5;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .card-image-schema {
    background-color: #181818;
    border-radius: none;
    width: 700px;
    height: 500px;
}