
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" (click)="showOverview()">REST API</a>
   
    <a (click)="showCI()">
        <i class="pe pe-7s-refresh-2 pe-2x pe-border fw"></i>
    </a>
    <a (click)="showCode()">
        <i class="pe pe-7s-look pe-2x pe-border fw"></i>
    </a>
</nav>
    

<div class="content">
    <router-outlet></router-outlet>
</div>

<div class="border border-default p-2 footer">
    <button class="btn btn-round btn-lg btn-outline-success" routerLink="/explore">
        <i class="pe pe-7s-cloud-download"></i>
        <span>Download Microservice</span>
    </button>
</div>
    