<div class="page-carousel">
        <div class="filter"></div>
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="page-header" style="background-image: url('http://res.cloudinary.com/dzmrr9uj9/image/upload/pg_bg_white_1920x1080.png');">
                    <div class="filter"></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <h1 class="title">Paper Kit 2 PRO</h1>
                                    <h5>Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or web studio.</h5>
                                    <br />
                                    <div class="buttons">
                                        <a href="#pablo" class="btn btn-danger btn-round  btn-lg">
                                            Read More
                                        </a>
                                        <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                                            <i class="fa fa-get-pocket"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="page-header" style="background-image: url('https://images.unsplash.com/photo-1482690205767-61deebe15ef7?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=')">
                    <div class="filter"></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <h1 class="title">Awesome Experiences</h1>
                                    <h5>Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or web studio.</h5>
                                    <br />
                                    <h6>Connect with us:</h6>
                                    <div class="buttons">
                                        <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="page-header" style="background-image: url('https://images.unsplash.com/photo-1498063669468-89723a87123d?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=')">
                    <div class="filter"></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 ml-auto text-right">
                                    <h2 class="title">Premium Offers for Venice</h2>
                                    <h5>Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or web studio.</h5>
                                    <br />
                                    <div class="buttons">

                                        <a href="#pablo" class="btn btn-neutral btn-link btn-lg">
                                            <i class="fa fa-share-alt"></i> Share Offer
                                        </a>
                                        <a href="#pablo" class="btn btn-success btn-round btn-lg">
                                            <i class="fa fa-shopping-cart"></i> Shop Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>