<!--
<ng-template [ngIf]="groupOptions">
    <app-option-tabs [items]="groupOptions"></app-option-tabs>
</ng-template>

<ng-template [ngIf]="groupOptions">
    <app-option-accordion [items]="groupOptions"></app-option-accordion>
</ng-template>
-->


<div class="card card-plain border border-dark" *ngFor="let item of groupOptions" style="width:25%;">
    <div class="card-block my-2 text-center text-white">
        <!-- <img [src]="item?.thumbnail" width="30" height="30"> -->
        <p>{{item?.title}}</p>
    </div>
</div>

<app-option-grid [items]="item?.options"></app-option-grid>
