:host {
    height: 100%;
    display: block;
}

.jumbotron {
    background-color: transparent;
    margin-bottom: 0;
}

 .section-runtime {
    background-position: center center;
    background-size: cover;
    background-color: black;

    &:before{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.80) 0%,rgba(8, 8, 8, 1) 100%);
        content: "";
        display: block;
        left: 0;
        top: 20;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    & .container {
        position: relative;
        z-index: 2;
    }
}

.card {
    background-color: #181818;
    color: white;
    border-radius: none;
}
