<!--
<div class="info">
    <img [src]="item?.image" width="50" height="50">
    <div class="description">
        <h5> {{item?.title}} </h5>
        <p>{{item?.version}}</p>
    </div>
</div>
-->

        <h6 class="card-category">{{item?.name}}</h6>
        <div class="card-icon">
            <img [src]="item?.image" width="50" height="50">
        </div>
        <div class="description">
            <p> {{item?.title}} </p>
        </div>
        
        <div class="card-footer">
            <small>{{item?.version}}</small>
        </div>
