:host {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px 30px;
    margin: 5px;
    border: 1px solid #f2f2f2;
    align-items: center;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}