<div class="section-schema h-100" style="background-image: url('http://res.cloudinary.com/dzmrr9uj9/image/upload/background/binary1_bg_1920x1080.jpg');">
    <div class="container-fluid text-center">
        <button class="btn btn-lg btn-just-icon btn-magnify btn-link" (click)="goback()"> 
            <i class="nc-icon nc-minimal-up"></i> 
        </button>
    </div>

    <div class="container-fluid px-5">
        
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="container-fluid ml-4 pl-4 text-white">
                        <h2>Domain Driven Design</h2>
                        <h4>Leverage design specification to create bounded, isolated components</h4>
                        <!-- <h4 class="mt-1">Mind your own business, bring your own domain</h4> -->
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                       
                        <div class="schema-card col-md-4 text-white"  *ngFor="let item of schemas">
                            <div class="media p-4 border-0">
                                <img [src]="item?.thumbnail" width="50" height="50">
                                <div class="media-body">
                                    <h5 class="pl-3">{{item?.title}}</h5>
                                    <p class="pl-3 text-muted">{{item?.description}}</p>      
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="schema-img container p-5">
                    <img class="img-fluid" [src]="'http://res.cloudinary.com/dzmrr9uj9/image/upload/design_bluewhite.png'" />
                </div>
              
            </div>
        </div>
    </div>

    <div class="container-fluid text-center">
        <button class="btn btn-lg btn-just-icon btn-magnify btn-link" routerLink="/home/features/polyglot"> 
            <i class="nc-icon nc-minimal-down"></i> 
        </button>
    </div>
        
</div>