:host {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #181818;
}


.card {
    margin-bottom: 0;
    border: 3px solid #222222;
    background-color:rgb(29, 29, 29);
    width:150px;
    height:150px;
    color:white;
}
