<div class="m-1 card card-plain text-center">
    <div class="card-header">
        <h6>{{item?.title}}</h6>
    </div>
    <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <img width="50" height="50" [src]="item?.image">
        <p class="card-title text-white">{{item?.value}}</p>
       <!-- <p class="text-muted">{{item?.version}}</p>-->
    </div>
    <!--
    <div class="card-img-overlay" [@overlay]="hovering">
        <h6>{{item?.title}}</h6>
    </div>
-->
</div>