
.card {
    width:125px;
    height: 125px;
    margin-bottom: 0;
    border: 3px solid #222222;
    background-color:rgb(29, 28, 28);
    color: white;
    h6 {
        font-size: 10px;
    };
    p {
        font-size: 10px;
    }
}
