:host {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
}

.section-full {
    height: 100vh;
}


.title-brand{
    max-width: 730px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    display: block;

    .type{
        position: absolute;
        font-size: 20px;
        background: #132026;
        padding: 6px 10px;
        border-radius: 4px;
        top: 120px;
        font-weight: 600;
        margin-top: 10px;
        right: -15px;
    }
}

.presentation-title{
    font-size: 3em;
    font-weight: 200;
    margin: 0;

    color: #FFFFFF;

    background: #fbf8ec;
    background: -moz-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 35%,#4e6773 100%);
    background: linear-gradient(to bottom, #FFFFFF 35%,#4e6773 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.presentation-subtitle{
    font-size: 1.7em;
    color: #FFFFFF;
}
