<div class="section" style="margin:0;padding:0;height:100%;display:flex;flex-direction:column;flex-wrap:nowrap;justify-content:center;align-items:center;">
    <div id="tags">
        <div class="title">
            <h3>Skills</h3>
        </div>
        <tag-input [addOnBlur]="true"
                   [clearOnBlur]="true"
                   [(ngModel)]="skillset">
            <tag-input-dropdown [autocompleteItems]="runtimes" [displayBy]="'title'" [identifyBy]="'slug'">
            </tag-input-dropdown>
        </tag-input>
    </div>
</div>