<div class="page-header" style="background-image: url('http://res.cloudinary.com/dzmrr9uj9/image/upload/technology4_bg_1920x1080.jpg');">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <h1 class="title">Your Enterprise @ Startup Speed</h1>
                    <h3>Build cloud-native microservices in microseconds</h3>
                    <button class="mt-3 btn btn-lg btn-outline-warning btn-move-right" routerLink="/explore">
                        Learn More <i class="nc-icon nc-minimal-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-img" style="background-image: url('http://res.cloudinary.com/dzmrr9uj9/image/upload/binary1_bg_1920x1080.jpg');height:90vh;">
    <div style="background-color:white;opacity:0.85;display:flex;flex-direction:column;align-content:center;" class="h-100 w-100">
        <div class="jumbotron text-center">
            <h1>Productivity</h1>
            <h3>Rapidly build out microservices</h3>
        </div>
        <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-palette"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Faster time to market</h4>
                                <p class="description">Build, test and launch new features in days rather than months.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-bulb-63"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Develop more, code less</h4>
                                <p>Discover pre-built microservice templates and get a jumpstart building your cloud-native apps</p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-chart-bar-32"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Prototype with ease</h4>
                                <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-sun-fog-29"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Bootstrap without debt</h4>
                                <p>Get started faster with high quality code</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-sun-fog-29"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Faster iteration</h4>
                                <p>Continuously develop</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
</div>
<div class="background-img" style="background-image: url('http://res.cloudinary.com/dzmrr9uj9/image/upload/binary1_bg_1920x1080.jpg');height:90vh;">
    <div style="background-color:white;opacity:0.90;display:flex;flex-direction:column;align-content:center;" class="h-100 w-100">
        <div class="jumbotron text-center">
            <h1>Flexibility</h1>
            <h3>Mix n' match your stack</h3>
        </div>
        <div class="container">
                <div class="row">
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-palette"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Bootiful Microservices</h4>
                                    <p class="description">Build out REST API &amp; event-driven microservices using Spring Boot framework with Java runtime</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-bulb-63"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Restify with NodeJS </h4>
                                    <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Python &amp; Flask</h4>
                                    <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-sun-fog-29"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Ultra Modern Apps</h4>
                                    <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
<div class="background-img" style="background-image: url('http://res.cloudinary.com/dzmrr9uj9/image/upload/binary1_bg_1920x1080.jpg');height:90vh;">
    <div style="background-color:white;opacity:0.80;display:flex;flex-direction:column;align-content:center;" class="h-100 w-100">
        <div class="jumbotron text-center">
            <h1>Agility</h1>
            <h3>Accelerate digital transformation through cloud-native apps</h3>
        </div>  
        <div class="container">
            <div class="row">
                    <div class="col-md-6">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-chart-bar-32"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Modernize Traditional Applications</h4>
                                <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-sun-fog-29"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Ultra Modern Apps</h4>
                                <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                                
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>