<div class="section-core h-100" style="background-image: url('http://res.cloudinary.com/dzmrr9uj9/image/upload/microservice4_background.jpg');">
    <div class="jumbotron-fluid py-5">
        <h2>Develop more, code less</h2>
    </div>
    <div class="container py-3 d-flex flex-row flex-wrap">
        <div class="mx-5 d-flex flex-row flex-wrap capability-container py-2 text-white justify-content-center">
        
            <div class="m-1 card card-plain" *ngFor="let current of core?.subcapabilities" style="width:300px;" [ngClass]="'border-' + current?.color">
                <div class="card-block d-flex flex-row align-items-center p-2 justify-content-between">
                    <div class="d-flex align-items-center">
                        <img [src]="current?.thumbnail" width="40" height="40">
                        <h6 class="px-3 text-muted">{{current?.title}}</h6>
                    </div>
                </div>
            </div>
        
        </div>
        
    </div>
</div>