:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.media_item_header {
    background-color: #181818;
}

.media_item_content {
    display: block;
    background-color: #1f1e1e;
}

.card {
    margin-bottom: 0;
}

.card-header {
    padding: 0;
}

#accordion .card-header {
    background-color: transparent;
}

.card-header h5 {
    padding:10px;
}

.btn-link {
    color: white;
}

.btn {
    font-size: 16px;
    font-weight: inherit;
}