

<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" routerLink="/">
        <img src="http://res.cloudinary.com/dzmrr9uj9/image/upload/logo.png" alt="" width="30" height="30">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" *ngIf="!authService.isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link">
                    <a class="nav-link" (click)="authService.login()">Sign in</a>
                </a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link">
                    Wishlist
                </a>
            </li>
            -->

        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="authService.isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link" routerLink="/explore" routerLinkActive="active">
                    Explore
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/search" routerLinkActive="active">
                    Search
                </a>
            </li>

            <li class="nav-item">
                <div ngbDropdown class="dropdown image-dropdown">
                    <div class="nav-link" ngbDropdownToggle>
                        <div class="profile-photo-small">
                            <img [src]="profile?.picture" [alt]="profile?.name"  class="img-circle img-responsive img-no-padding">
                        </div>
                    </div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-info">
                        <a class="dropdown-item" [routerLink]="['/profile']">
                            <i class="nc-icon nc-badge"></i>&nbsp; Profile
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="['/profile/collections']">
                            <i class="nc-icon nc-tile-56"></i>&nbsp; Collections
                        </a>
                        <a class="dropdown-item" [routerLink]="['/profile/connections']">
                            <i class="nc-icon nc-settings"></i>&nbsp; Connections
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="authService.logout()">
                            <i class="nc-icon nc-lock-circle-open"></i>&nbsp; Sign out
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>