<div class="text-center">
    <button class="btn btn-lg btn-just-icon btn-magnify btn-link" routerLink="/home/landing/hero"> 
        <i class="nc-icon nc-minimal-up"></i> 
    </button>
</div>
<div class="container">
    <div class="row">
        <div class="ml-auto mr-auto">
            <h2 class="title text-center">How it works</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm m-1 card card-plain text-center" *ngFor="let item of howitworks?.contents">
            <div class="card-block px-3">
                <h2 class="mb-1 text-info">{{item?.display_order}}</h2>
                <h5 class="pb-4 card-title">{{item?.title}}</h5>
                <img [src]="item?.image" width="80" height="80">
                <p class="py-4">{{item?.subtitle}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ml-auto mr-auto">
            <button class="mt-5 btn btn-lg btn-outline-default btn-move-right" routerLink="/explore">
                Be a Rockstar <i class="nc-icon nc-minimal-right"></i>
            </button>
        </div>
    </div>
</div>