:host {
    display: block;
    height: 100%;
}

.card {
    background-color: #181818;
}

.section-howitworks {
    background-position: center center;
    background-size: cover;

    &:before{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%,rgba(8, 8, 8, 1) 100%);
        content: "";
        display: block;
        height: 90%;
        left: 0;
        top: 20;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    & .container-fluid{
        position: relative;
        z-index: 2;
    }
}

hr.style1 {
    border-top: 5px solid #1488cc;
}