<div class="jumbotron text-center">
    <h1>Contact Us</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <form class="contact-form">
                <div class="row">
                    <div class="col-md-6">
                        <label>Name</label>
                        <input class="form-control" placeholder="Name">
                    </div>
                    <div class="col-md-6">
                        <label>Email</label>
                        <input class="form-control" placeholder="Email">
                    </div>
                </div>
                <label>Message</label>
                <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>