<div class="section" style="margin:0;padding:0;height:100vh;display:flex;flex-direction:column;flex-wrap:wrap;justify-content:center;align-items:center;">
        <div class="container">
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <h2 class="title">Latest Blogposts</h2>
                        <br />
                        <div class="card card-plain card-blog">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card-image">
                                        <img class="img" src="assets/img/sections/stephanie-krist.jpg" />
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h6 class="card-category text-info">Enterprise</h6>
                                        <h3 class="card-title">
                                            <a href="#pablo">The four waves of augmented reality</a>
                                        </h3>
                                        <p class="card-description">
                                            Sharing processing, display and sensors across smartphones and tethered smartglasses gives you two batteries, each powering fewer individual systems. If they’re connected by a cable, this could give a healthy bump to battery life — and… <a href="#pablo"> Read More </a>
                                        </p>
                                        <p class="author">
                                            by <a href="#pablo"><b>Tim Merel</b></a>, 11 hours ago
                                        </p>
                                    </div>
    
                                </div>
                            </div>
                        </div>
    
                        <div class="card card-plain card-blog">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h6 class="card-category text-danger">
                                            <i class="fa fa-free-code-camp" aria-hidden="true"></i> Trending
                                        </h6>
                                        <h3 class="card-title">
                                            <a href="#pablo">Okoli connects you with tour guides around the world</a>
                                        </h3>
                                        <p class="card-description">
                                            Okoli is a new service by developer Jack Deneut that aims to replace those ugly little cards you find in tourist hotels. The web app, which currently works in Prague, Budapest, Berlin and Paris, lets you reserve a nearly private tour with a professional guid — and… <a href="#pablo"> Read More </a>
                                        </p>
                                        <p class="author">
                                            by <a href="#pablo"><b>John Biggs</b></a>, 3 seconds ago
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="card-image">
                                        <img class="img" src="assets/img/sections/federico-beccari.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>