<div class="card card-plain border border-default text-center">
    <img class="card-img" src="http://res.cloudinary.com/dzmrr9uj9/image/upload/cover_600x800_blank.jpg">
    <div class="card-img-overlay">
        <h6 class="card-category text-info">{{ item?.attributes | attribute:'architecture':'title' }}</h6>
        <div style="display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:center;" class="my-4 mx-2">
            <ng-template ngFor let-attribute [ngForOf]="item?.attributes">
                <div class="border m-1 p-1" *ngIf="attribute?.name !== 'architecture'">
                    <img [src]="attribute?.image" width="50" height="50" class="img-fluid" placement="bottom" [ngbTooltip]="attribute?.title + ' ' + attribute?.version">
                </div>
            </ng-template>
        
            <ng-template ngFor let-option [ngForOf]="item?.options">
                <div class="border m-1 p-1" *ngIf="option?.featured">
                    <img [src]="option?.image" width="50" height="50" class="img-fluid" placement="bottom" [ngbTooltip]="option?.title + ' ' + option?.version">
                </div>
            </ng-template>
        </div>
        <div class="my-1">
            <h5 class="card-title ellipsis">{{item?.subtitle}}</h5>
            <p class="my-3 card-text text-left">{{ item?.title }}</p>
        </div>
       <hr>
        <div class="mx-2 mt-3">
            <button type="button" class="btn btn-outline-default" (click)="onSelect(item?._links.self.href)">Preview Code</button>
        </div>
    
        <!--
        <div class="m-0 p-0 card-footer text-left">
            <div class="author">
                <img src="http://res.cloudinary.com/dzmrr9uj9/image/upload/sal.jpg" alt="..." class="avatar img-raised rounded-circle">
                <span>Sal Siddiqui</span>
            </div>
            <div class="stats">
                <i class="pe pe-7s-like" aria-hidden="true" placement="bottom" [ngbTooltip]="'Favorites'"></i> 54
                <i class="pe pe-7s-cloud-download" aria-hidden="true" placement="bottom" [ngbTooltip]="'Downloads'"></i> 12
                <i class="pe pe-7s-look" aria-hidden="true" placement="bottom" [ngbTooltip]="'Views'"></i> 89
            </div>
        </div>
    -->
        
    </div>
    
</div>