.card {
    width: 250px;
    border: 1px solid #eeeeee;
}

.card img {
    border-radius: 0px;
}

.ellipsis {
    text-overflow: ellipsis;
  
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
  }
