<!--
<div class="card m-2 card-plain card-with-shadow">
    <img class="card-img" [src]="item?.image">
    <div class="card-img-overlay" style="display:flex;flex-direction:column;flex-wrap:nowrap;justify-content:space-between;align-items:center;align-content:center;">
        <h6 class="card-category text-muted">{{ item?.attributes | attribute:'architecture':'title' }}</h6>
        <p class="text-center">{{item?.subtitle}}</p>
        
        <div style="display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:center;">
            <div class="border mx-1 p-1">
                <img [src]="item?.attributes | attribute:'specification':'image'" width="50" height="50" class="img-fluid">
            </div>
            <div class="border mx-1 p-1">
                <img [src]="item?.attributes | attribute:'framework':'image'" width="50" height="50" class="img-fluid">
            </div>
        </div>

        <div style="display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:center;">
            <ng-template ngFor let-option [ngForOf]="item?.options">
                <div class="border mx-1 p-1" *ngIf="option?.featured">
                    <img [src]="option?.image" width="50" height="50" class="img-fluid">
                </div>
            </ng-template>
        </div>
        <button type="button" class="btn btn-outline-info btn-lg" (click)="onSelect(item?._links.self.href)">Preview Code</button>
    </div>
</div>
-->


<div class="card card-plain text-center">
    <div class="card-body">
        <h6 class="card-category text-info">{{ item?.attributes | attribute:'architecture':'title' }}</h6>
        <h5 class="card-title ellipsis m-3">{{item?.subtitle}}</h5>

        <div style="display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:center;" class="m-3">
            <ng-template ngFor let-attribute [ngForOf]="item?.attributes">
                <div class="border m-1 p-1" *ngIf="attribute?.name !== 'architecture'">
                    <img [src]="attribute?.image" width="50" height="50" class="img-fluid">
                </div>
            </ng-template>
        
            <ng-template ngFor let-option [ngForOf]="item?.options">
                <div class="border m-1 p-1" *ngIf="option?.featured">
                    <img [src]="option?.image" width="50" height="50" class="img-fluid">
                </div>
            </ng-template>
        </div>
      
        <p class="m-3 text-muted card-description text-left">
            {{ item?.title }}
        </p>
        <div class="d-block mt-5">
            <button type="button" class="btn btn-outline-default" (click)="onSelect(item?._links.self.href)">Preview Code</button>
        </div>
        
    </div>
</div>