:host {
    display: block;
    height: 100%;
    width: 100%;
}

.jumbotron {
    background: none;
    margin-bottom: 0;
    padding-top: 175px;
    height: 90%;
}

.title.text-center {
    margin-bottom: 25px;
}