<div class="section-hero h-100" style="background-image: url('http://res.cloudinary.com/dzmrr9uj9/image/upload/rockstar_cover3.jpg');">
    <div class="container-fluid h-100 text-white d-flex flex-column justify-content-center align-items-center">
   
        <h1 style="letter-spacing: 25px;">{{hero?.title}}</h1>
    
        <h3 class="my-4">{{hero?.subtitle}}</h3>
        <button class="mt-5 btn btn-lg btn-outline-neutral btn-move-right" routerLink="/explore">
            Start developing faster <i class="nc-icon nc-minimal-right"></i>
        </button>  
    </div>
    <!--
    <div class="container-fluid h-25 d-flex justify-content-center align-items-end">
        <button class="btn btn-lg btn-just-icon btn-magnify btn-link" routerLink="/home/landing/howitworks"> 
            <i class="p-2 nc-icon nc-minimal-down"></i> 
        </button>
    </div>
    -->
    
</div>