:host {
    display: block;
    height: 100%;
}

.section-hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:before{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.70) 0%,rgba(10, 10, 10, 0.9) 100%);
        content: "";
        display: block;
        height: 90%;
        left: 0;
        top: 20;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    & .container-fluid{
        position: relative;
        z-index: 2;
    }
}


#typewriter h1 {
    white-space: nowrap;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;
    float: left;
    clear: both;
    border-right: 2px solid transparent
}