<div class="mt-3 mb-0 text-center">
    <button class="btn btn-lg btn-just-icon btn-magnify btn-link" routerLink="../flexibility"> 
        <i class="nc-icon nc-minimal-up"></i> 
    </button>
</div>
<div class="jumbotron text-center">
    <h1>Agility</h1>
    <h3>Accelerate digital transformation through cloud-native apps</h3>
</div>  
<div class="container">
    <div class="row">
            <div class="left col-md-6">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Modernize Traditional Applications</h4>
                        <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                        
                    </div>
                </div>
            </div>
            <div class="right col-md-6">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Ultra Modern Apps</h4>
                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                        
                    </div>
                </div>
            </div>
    </div>
</div>