<div style="display:flex;flex-direction:row;flex-wrap:nowrap; padding:10px;border-top:1px solid #dddddd;justify-content:space-between;">
    <div class="copyright" style="display:flex;justify-content:center;width:30%;">
        © {{date | date: 'yyyy'}} Rockstar, Inc. All rights reserved.
    </div>
    <div style="display:flex;flex-direction:row;flex-wrap:nowrap;width:30%;">
        <a routerLink="/home/legal" style="margin:0 10px;">Terms of Use</a>
        <a routerLink="/home/legal" style="margin:0 10px;">Privacy Policy</a>
    </div> 
</div>