<div style="display:flex;flex-direction:row;flex-wrap:nowrap; padding:10px;border-bottom:5px solid #1FA2FF;justify-content:space-between;background-color:rgb(13, 13, 13);color:white;">
    <div class="copyright" style="display:flex;justify-content:center;width:30%;font-size:14px;color:rgb(170, 168, 168);">
        © {{date | date: 'yyyy'}} Rockstar, Inc. All rights reserved.
    </div>
    <!--
    <div style="display:flex;flex-direction:row;flex-wrap:nowrap;width:30%;">
        <a [routerLink]="['/home/legal', 'termsofuse']" style="margin:0 10px;">Terms of Use</a>
        <a [routerLink]="['/home/legal', 'privacypolicy']"  style="margin:0 10px;">Privacy Policy</a>
    </div> 
    -->
</div>