
    <div class="row">
        <div class="col">
            <h2 class="mb-3">{{howitworks?.subtitle}}</h2>
        </div>
    </div>
    <div class="row m-5">
        <div class="col" *ngFor="let item of howitworks?.contents">
            <div class="card card-plain mx-1 text-center">
                
                <div class="card-body p-4">
                    <h1 class="mt-2 mb-4 text-info">{{item?.display_order}}</h1>
                    <img [src]="item?.image" width="80" height="80">
        
                    <h5 class="m-3 card-title">{{item?.title}}</h5>
                    <p class="card-description">{{item?.subtitle}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-lg btn-outline-default btn-move-right" routerLink="/explore">
                Let's make you a rockstar <i class="nc-icon nc-minimal-right"></i>
            </button>
        </div>
    </div>
   
