
    <h2 class="mb-3">{{howitworks?.title}}</h2>
    <div class="container-cards">
        <div class="card card-plain mx-2" style="display:flex;flex-direction:column;flex-wrap:nowrap;" *ngFor="let item of howitworks?.contents">
            
                <div class="card-body">
                    <div class="text-center">
                        <h1 class="m-3 text-info">{{item?.display_order}}</h1>
                    </div>
                    <div class="card-icon">
                        <!-- <i [ngClass]="item?.image"></i> -->
                        <img [src]="item?.image">
                    </div>
                    <div class="text-center">
                        <h5 class="card-title">{{item?.title}}</h5>
                        <p class="card-description">{{item?.subtitle}}</p>
                    </div>
                </div>
            
        </div>
    </div>
    <button class="btn btn-round btn-lg btn-outline-info btn-move-right" routerLink="/explore">
        Explore Microservice Templates <i class="nc-icon nc-minimal-right"></i>
    </button>