:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    justify-content: space-between;
}

.header {
    width: 100%;
    height: 5%;
    padding: 2px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background: #eeeeee;
}

.header-left {
    width: 30%;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    background: #ffffff;
}

.header-right {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #ffffff;
    justify-content: space-between;
}

.header-right-form {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.header-right-icons {
    width: 25%;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}

.content {
    padding: 5px 10px;
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: hidden;
    background: #eeeeee;
}

.content-left {
    width: 30%;
    min-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    margin-right: 10px;
}

.content-left-body {
    height: 100%;
    overflow: auto;
}

.content-right {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    overflow: auto; 
    background: white;
}

.option-card {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.option-panel {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    flex-wrap: wrap;
}