<ul class="nav justify-content-start">
    <li class="nav-item">
        <a class="nav-link active" (click)="backClicked()"> 
            <i class="fa fa-chevron-left"></i>Back
        </a>
    </li>
</ul>
<div class="content section section-gray">
    <div class="content-left section section-white">
        <ul class="nav content-left-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <i class="nc-icon nc-minimal-left"></i>
                </a>
            </li>
        </ul>
                    
        <div class="content-left-header">
            <h4>Features &amp; Capabilities</h4>
        </div>
        
        <ngb-accordion class="content-left-body" #acc="ngbAccordion" [closeOthers]="'true'">
            <ngb-panel [id]="category?.slug" *ngFor="let category of categories">
                <ng-template ngbPanelTitle>
                    <h5 class="mb-0 panel-title">
                        <a class="collapsed">
                            {{category?.title}}
                            <i class="nc-icon nc-minimal-down"></i>
                        </a>
                    </h5>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="option-panel">
                        <div class="option-card" *ngFor="let option of getProductOptionsByCategory(category?.slug)">
                            <option-card [item]="option"></option-card>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    
    <div class="content-right section section-white">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ngb-tabset [justify]="'center'">
                    <ngb-tab title="Overview">
                        <ng-template ngbTabContent>
                            <div class="cover tab-pane active" id="overview" role="tabpanel">
                                
                                <div class="cover-header">
                                    <h2>{{productDetails?.title}}</h2>
                                    <h4><strong>{{productDetails?.subtitle}}</strong></h4>
                                    <p>{{ getTitle('architecture') }}</p>
                                </div>
                
                                <div class="cover-body">
                                    <img [src]="getImage('language')">
                                    <img [src]="getImage('framework')">
                                </div>

                                
                                <div class="cover-footer">
                                    <button class="btn btn-danger btn-round">
                                        Add to Collection &nbsp;
                                        <i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Specification">
                        <ng-template ngbTabContent>
                            <app-swagger></app-swagger>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Code" (click)="generateCode()">
                        <ng-template ngbTabContent>
                            <app-code [sourcecode]="files"></app-code>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>
