<nav class="topbar navbar navbar-expand-md">
    <a class="navbar-brand" routerLink="/">
        <img src="http://res.cloudinary.com/dzmrr9uj9/image/upload/brand/black_outline_61x75.png" alt="" width="20">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" (click)="onExit()">
                    Exit
                </a>
            </li>
    
        </ul>
    </div>
</nav>
<div class="content">
    <div class="content-left">
        <router-outlet name="design"></router-outlet>
    </div>
    <div class="content-right">
        <router-outlet name="develop"></router-outlet>
    </div>
</div>
