:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    align-content: stretch;
}

.topbar {
    height: 5%;
}

.navbar .navbar-brand {
    padding: 5px 25px;
  }

.content {
    height: 95%;
    display: flex;
    .content-left {
        width: 40%;
    }
    .content-right {
        width: 60%;
    }
}
