:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    align-content: stretch;
}

.content {
    height: 100%;
    display: flex;
    .left {
        width: 40%;
        display: flex;
        flex-direction: row;
        height: 100%;
        .sidenav {
            height:100%;
            background-color: #181818;
            i {
                border-radius: 0;
            }
         }
         .content {
            overflow: auto;
            height:100%;
            width: 100%;
        }
    }
    .right {
        width: 60%;
        
        .header {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            height: 6%;
            justify-content: flex-end;
            border-radius: 0;
            .pe-border {
                padding: .27em;
                border-radius: 0;
                border: .01em solid #eaeaea;
            }
        }
        
        .content {
           display:flex;
           flex-direction:column;
           overflow: auto;
           height:85%;
        }
        
        .footer {
            display: flex;
            height: 9%;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content:center;
            border-radius: 0;
        }
    }
}

