    <div class="jumbotron header text-center text-white">
        <h2>Your Enterprise @ Startup Speed</h2>
        <h4>Automatically build, test, &amp; deploy your cloud-native microservices</h4>
        <!--<h4>Take a cloud-native approach for building apps &amp; api with a microservice architecture</h4> -->
    </div>
    <div class="container d-flex justify-content-center align-items-center" >
            
        <div class="card card-plain feature-card text-center text-white m-2 p-4" *ngFor="let current of features">
                
            <div class="card-body p-3">
                <img class="img-fluid" [src]="current?.thumbnail" width="75" height="75">
                <h5 class="p-3">{{current?.title}}</h5>
        
                <button class="btn btn-lg btn-move-right btn-link" [routerLink]="['../' + current?.slug]"> 
                    <i class="nc-icon nc-minimal-right"></i> 
                </button>
            </div>
        </div>
    </div>
