.pricing {
    display: flex;
    width: 960px;
  }
  
  .plan {
    flex: 1 1 0px;
  }
  
  li {
    display: flex;
    line-height: 30px;
    padding: 15px 20px;
  }
  
  li img {
    margin-right: 10px;
  }
  
  button {
    display: block;
    width: calc(100% - 40px);
    margin: 20px;
  }
  
  .plan:nth-of-type(1), .plan:nth-of-type(3) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .plan:nth-of-type(2) {
    flex-basis: 60px;
  }
  
  .plan {
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.28);
  }
  
  h3 {
    line-height: 80px;
    background-color: #19557d;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 0;
  }
  
  .plan:nth-of-type(2) h3, .plan:nth-of-type(2) button {
    background-color: #52a5df
  }
  
  .price {
    font-weight: 700;
    font-size: 72px;
    text-align: center;
    line-height: 100px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li:nth-of-type(2n + 1) {
    background-color: #ededed;
  }
  
  .info {
    color: #aaa;
    text-align: center;
    line-height: 20px;
    margin: 0 0 20px;
  }
  
  .info:nth-of-type(2) {
    margin-top: 20px;
  }
  
  button {
    line-height: 60px;
    border-radius: 4px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #19557d;
    border: none;
  }
  
  .plan:nth-of-type(2) {
    position: relative;
  }
  