<div class="section-infrastructure h-100" style="background-image: url('http://res.cloudinary.com/dzmrr9uj9/image/upload/microservice4_background.jpg');">
    <div class="jumbotron-fluid py-5">
            <h2>Infrastructure Capabilities benefit statement</h2>
    </div>
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="m-1 card card-plain" *ngFor="let current of infrastructure?.subcapabilities" style="width:200px;">
            
            <div class="card-body text-center">
                <img [src]="current?.thumbnail" width="50" height="50">
                <h6 class="m-3 card-category">{{current?.title}}</h6>
                <hr style="border:1px solid #292929;width:25%;">
                <!--
                <p class="text-muted">The kit comes with a huge number of components designed</p>
                -->
            </div>
            <div class="card-footer d-flex flex-row flex-wrap justify-content-center">
                <div class="m-1" *ngFor="let option of current?.options | slice:0:3">
                    <img class="p-1" [src]="option?.thumbnail" width="35" height="35">
                </div>
            </div>
        </div>
    </div>
</div>