
<div style="display:flex;flex-direction:column;flex-wrap:nowrap;height:30%;justify-content:center;align-items:center;
    padding: 25px 0 0;background-image: url('./assets/images/background34.png')">
    <img [src]="profile?.picture" [alt]="profile?.name" class="img-circle img-responsive" width="150" height="150">
    <h4 class="title">{{profile?.name}}</h4>
</div>

<div class="nav-tabs-navigation" style="height:70%;">
    <div class="nav-tabs-wrapper">
        <ngb-tabset [justify]="'center'">
            <ngb-tab title="Collections">
                <ng-template ngbTabContent>
                    <router-outlet></router-outlet>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Connections">
                <ng-template ngbTabContent >
                    <router-outlet></router-outlet>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>