<!--
<ul class="nav border border-default header">
    <li>
        <a (click)="showOptions()">
            <i class="pe pe-7s-edit pe-2x pe-border"></i>
        </a>
    </li>
    <li>
        <a (click)="showSpec()">
            <i class="pe pe-7s-network pe-2x pe-border"></i>
        </a>
    </li>
</ul>
-->
<ul class="nav flex-column sidenav">
    <li class="nav-item">
        <a (click)="showOptions()">
            <i class="pe pe-7s-edit pe-2x border-bottom p-3"></i>
        </a>
    </li>
    <li class="nav-item">
        <a (click)="showSpec()">
            <i class="pe pe-7s-network pe-2x border-bottom p-3"></i>
        </a>
    </li>
</ul>
<div class="content p-2">
    <router-outlet></router-outlet>
</div>

<!--
<div class="border border-default p-2 footer">
    <button class="btn btn-round btn-lg btn-outline-success" routerLink="generate">
        <i class="pe pe-7s-look"></i>
        <span>Generate Microservice</span>
    </button>
</div>
-->