.card {
    width: 200px;
    height: 250px;
    background-color: #1e1e1e;
    color: #7e7e7e;
}

.card img {
    border-radius: 0px;
}

.ellipsis {
    text-overflow: ellipsis;
  
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
  }
