@charset "utf-8";

@import "~jsoneditor/dist/jsoneditor.min.css";
@import "~prismjs/themes/prism-tomorrow";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.navbar .navbar-nav .dropdown-menu {
    border-radius: 0;
}

.dropdown-menu .dropdown-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu .dropdown-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn {
    border-radius: 0 !important;
}

input, select, .input-group-addon {
    border-radius: 0 !important;
}

.card {
    border-radius: 0 !important;
}

img {
    border-radius: 0 !important;
}