<!--
<div class="jumbotron text-center">
    <div class="row">
        <div class="col-md-6 col-12 ml-auto mr-auto text-center">
            <h3 class="mb-3">Developers marketplace for publishing, discovering and consuming microservice code artifacts.</h3>
            <form role="search" class="form-inline search-form">
                <div class="input-group w-100">
                    <span class="input-group-addon addon-lg" id="basic-addon1"><i class="pe pe-7s-search pe-2x"></i></span>
                    <input type="text" class="form-control input-lg" placeholder="discover microservices" aria-describedby="basic-addon1">
                </div>
            </form>
        </div>
    </div>
</div>
-->
<div class="d-flex">
    <ul class="nav flex-column" style="background-color:#1e1e1e">
        <li class="nav-item border-bottom" [routerLinkActive]="['active']" *ngFor="let capability of capabilities">
            <a (click)="toggleSidebar(capability?.slug)">
                <img class="m-3" [src]="capability?.thumbnail" width="50" height="50">
            </a>
        </li>
    </ul>

    <ng-sidebar-container style="height:98vh;" >

            <!-- A sidebar -->
            <ng-sidebar [(opened)]="_opened" [mode]="'push'" [position]="'left'">
                <app-option-filters [title]="selectedCapability?.title" [filters]="selectedCapability?.subcapabilities" (selectfilter)="onFilterToggle($event)">
                </app-option-filters>
            </ng-sidebar>
    
            <!-- Page content -->
            <div ng-sidebar-content>
                <div class="card card-plain" style="overflow:hidden;background-color:#1e1e1e;">
                    <div class="card-header d-flex">
                        <div class="w-50">
                            <form role="search" class="form-inline search-form">
                                <div class="input-group w-50">
                                    <input type="text" class="form-control" placeholder="discover microservices" aria-describedby="basic-addon1">
                                    <span class="input-group-addon" id="basic-addon1"><i class="pe pe-7s-search pe-border pe-2x"></i></span>
                                </div>
                            </form>
                        </div>
                        <div class="d-flex w-50">
                            <angular2-multiselect [data]="architectureList" [(ngModel)]="architectureSelectedItems"
                                [settings]="architectureDropdownSettings"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="OnItemDeSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onDeSelectAll($event)" style="width:25%;">
                            </angular2-multiselect>

                            <angular2-multiselect [data]="specificationList" [(ngModel)]="specificationSelectedItems"
                                [settings]="specificationDropdownSettings"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="OnItemDeSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onDeSelectAll($event)" style="width:25%;">
                            </angular2-multiselect>
                    
                            <angular2-multiselect [data]="languageList" [(ngModel)]="languageSelectedItems1"
                                [settings]="languageDropdownSettings"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="OnItemDeSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onDeSelectAll($event)" style="width:25%;">
                            </angular2-multiselect>
                        </div>
                    <!--
                        <div class="d-inline-flex">
                            <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="searchCriteria.state">
                                <label ngbButtonLabel class="btn-outline-default btn-sm">
                                <input ngbButton type="radio" value="start">Draft
                                </label>
                                <label ngbButtonLabel class="btn-outline-default btn-sm">
                                <input ngbButton type="radio" value="center">Publish
                                </label>
                                <label ngbButtonLabel class="btn-outline-default btn-sm">
                                <input ngbButton type="radio" value="end">Upcoming
                                </label>
                            </div>
                        </div>
                    -->
                        
                    </div>

                    <div class="card-body bg-dark">
                        <ng-scrollbar>
                            <div class="d-flex flex-row flex-wrap justify-content-around" [@listAnimation]="div">
                                <app-search-item [item]="item" *ngFor="let item of productResult?._embedded?.productResourceList" (select)="onSelectProduct($event)">
                                </app-search-item>
                            </div>
                        </ng-scrollbar>
                    </div>
                    <div class="d-flex justify-content-center card-footer" style="background-color:#1e1e1e;">
                        <button class="btn btn-outline-default">Load more</button>
                    </div>
                </div>
            </div>
    
    </ng-sidebar-container>
</div>