<div style="display:flex;flex-direction:column;flex-wrap:wrap;justify-content:flex-start;width:15%;height:100%;">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Filter Menu</a>
        </li>
    </ul>
    <div class="card card-refine height:100%;overflow:auto;">

        <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
            <ngb-panel *ngFor="let optionkey of optionfilterkeys">
                <ng-template ngbPanelTitle>
                    <h5 class="mb-0 panel-title">
                        <a class="collapsed">
                            {{getOptionFilterTitle(optionkey) | capitalize }} <i class="nc-icon nc-minimal-down"></i>
                        </a>
                    </h5>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="form-check" *ngFor="let currentOption of getOptionFilterData(optionkey)">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" [value]="currentOption?.slug">
                            {{ currentOption?.title }}
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div> 
</div>

<div style="display:flex;flex-direction:column;flex-wrap:nowrap;justify-content:flex-start;width:85%;margin: 0 5px;height:100%;overflow:hidden;" class="section-gray">
    
    <div style="display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:flex-start;align-items:center;height:8%;border:1px solid #f2f2f2;background:white;">
        <div class="w-50" style="display:flex;" *ngIf="attributefilters">
                <!--
            <angular2-multiselect [data]="getAttributeFilterItems(attributekey)" [(ngModel)]="getAttributeFilterSelection(attributekey)"
                [settings]="getAttributeFilterSettings(attributekey)"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)" style="width:20%;margin:5px;"
                *ngFor="let attributekey of attributefilterkeys">
            </angular2-multiselect>
        -->
            <!--
            <angular2-multiselect [data]="architectureList" [(ngModel)]="architectureSelectedItems"
                [settings]="architectureDropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)" style="width:20%;margin:5px;">
            </angular2-multiselect>

            <angular2-multiselect [data]="specificationList" [(ngModel)]="specificationSelectedItems"
                [settings]="specificationDropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)" style="width:20%;margin:5px;">
            </angular2-multiselect>

            <angular2-multiselect [data]="languageList" [(ngModel)]="languageSelectedItems1"
                [settings]="languageDropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)" style="width:20%;margin:5px;">
            </angular2-multiselect>
        
            <angular2-multiselect [data]="frameworkList" [(ngModel)]="frameworkSelectedItems"
                [settings]="frameworkDropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)" style="width:20%;margin:5px;">
            </angular2-multiselect>
            -->

        </div>
        <div class="w-50" style="display:flex;justify-content:flex-end;" >
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary active">
                          <input type="checkbox" checked="" autocomplete="off"> Active
                        </label>
                        <label class="btn btn-primary">
                          <input type="checkbox" autocomplete="off"> Check
                        </label>
                        <label class="btn btn-primary">
                          <input type="checkbox" autocomplete="off"> Check
                        </label>
                      </div>
        </div>
    </div>
    
   
    <ng-scrollbar>
        <div class="search-grid" *ngIf="productResult">
            <div class="search-item" (click)="onSelectProduct(item?._links.self.href)" *ngFor="let item of productResult?._embedded?.productResourceList">
                <div class="d-block p-2 text-center">
                    <h6 class="card-category">{{ item?.attributes | attribute:'architecture':'title' }}</h6>
                </div>
                <div style="display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:center;">
                    <!--
                    <div class="p-1">
                        <img [src]="item?.attributes | attribute:'specification':'image'" width="75" height="75" >
                    </div>
                -->
                    <div class="p-1">
                        <img [src]="item?.attributes | attribute:'language':'image'" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img [src]="item?.attributes | attribute:'framework':'image'" width="50" height="50">
                    </div>
                    
                    <div class="p-1" *ngIf="getFeaturedOptionImage(item)">
                        <img [src]="getFeaturedOptionImage(item)" width="50" height="50">
                    </div>
                
                </div>
            
                <div class="d-block p-2 text-center">
                    {{item?.subtitle}}
                </div>
        
            </div>
            
        </div>
    </ng-scrollbar>
</div>


