<div style="display:flex;flex-direction:column;flex-wrap:wrap;justify-content:flex-start;width:15%;height:100%;">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Filter Menu</a>
        </li>
    </ul>
    <div class="card card-refine height:100%;overflow:auto;">
        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <h5 class="mb-0 panel-title">
                        <a class="collapsed">
                            Datastore
                            <i class="nc-icon nc-minimal-down"></i>
                        </a>
                    </h5>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="form-check" *ngFor="let current of datastoreMetadata?._embedded?.metadataResourceList">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" [value]="current?.slug">
                            {{current?.title}}
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <h5 class="mb-0 panel-title">
                        <a class="collapsed">
                            Messaging
                            <i class="nc-icon nc-minimal-down"></i>
                        </a>
                    </h5>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="form-check" *ngFor="let current of messagingMetadata?._embedded?.metadataResourceList">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" [value]="current?.slug">
                            {{current?.title}}
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <h5 class="mb-0 panel-title">
                        <a class="collapsed">
                            Security
                            <i class="nc-icon nc-minimal-down"></i>
                        </a>
                    </h5>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="form-check" *ngFor="let current of securityMetadata?._embedded?.metadataResourceList">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" [value]="current?.slug">
                            {{current?.title}}
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <h5 class="mb-0 panel-title">
                            <a class="collapsed">
                                Monitoring
                                <i class="nc-icon nc-minimal-down"></i>
                            </a>
                        </h5>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="form-check" *ngFor="let current of monitoringMetadata?._embedded?.metadataResourceList">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" [value]="current?.slug">
                                {{current?.title}}
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                    </ng-template>
                </ngb-panel>
        </ngb-accordion>
    </div> 
</div>

<div style="display:flex;flex-direction:column;flex-wrap:nowrap;justify-content:flex-start;width:85%;margin: 0 5px;height:100%;overflow:hidden;" class="section-gray">
    
    
    <div style="display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:flex-start;align-items:center;height:5%;border:1px solid #f2f2f2;background:white;">
            
        <angular2-multiselect [data]="architectureList" [(ngModel)]="architectureSelectedItems"
            [settings]="architectureDropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)" style="width:20%;margin:5px;">
        </angular2-multiselect>

        <angular2-multiselect [data]="specificationList" [(ngModel)]="specificationSelectedItems"
            [settings]="specificationDropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)" style="width:20%;margin:5px;">
        </angular2-multiselect>

        <angular2-multiselect [data]="languageList" [(ngModel)]="languageSelectedItems1"
            [settings]="languageDropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)" style="width:20%;margin:5px;">
        </angular2-multiselect>
    
        <angular2-multiselect [data]="frameworkList" [(ngModel)]="frameworkSelectedItems"
            [settings]="frameworkDropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)" style="width:20%;margin:5px;">
        </angular2-multiselect>

    </div>
            
    
    <div style="display:flex;flex-direction:column;flex-wrap:nowrap;height:94%;padding:10px;border:2px solid f2f2f2;overflow:auto;">
        <div class="row">
            <product-card class="col-md-2 col-sm-4" [item]="productitem" *ngFor="let productitem of productResult?._embedded.productInfoResourceList">
            </product-card>
        </div>
    </div>

    <div style="display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:center;height:5%;border:2px solid #f2f2f2;background:white;">
            <button rel="tooltip" title="This is a morphing button" class="btn btn-round btn-outline-danger" id="successBtn" data-toggle="morphing" data-rotation-color="gray">Load more...</button>
    </div>

</div>


