:host {
    display: block;
    overflow: hidden;
}

.jumbotron {
    margin-bottom: 0;
    .pe {
        padding: 13px;
    }
}

.jumbotron .form-control {
    border-radius: 0 !important;
    border: none;
}

.jumbotron .input-lg {
    height: 56px;
    padding: 0 10px;
}

.dropdown {
    border-radius: 0;
}

::ng-deep .ng-sidebar {
    width: 250px;
    font-size: 14px;
}