.cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.cover-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    padding: 25px;
    width: 100%;
}

.cover-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    padding: 25px;
    img {
        padding: 15px;
    }
}

.cover-footer {
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    padding: 25px;
    width: 100%;
  
}

img {
    height: 200px;
    width: 200px;
}