<div class="cover mt-5" id="overview">
                                
    <div class="cover-header">
        <span class="label label-success">{{ getAttributeTitle('architecture') }}</span>
        <h2>{{product?.subtitle}}</h2>
        <h4>{{product?.title}}</h4>
    </div>

    <div class="cover-body">
        <img [src]="getAttributeImage('language')">
        <img [src]="getAttributeImage('framework')">
        <img [src]="getFeaturedOptionImage()" *ngIf="getFeaturedOptionImage()">
    </div>
    
    <div class="cover-footer">
        <button class="btn btn-danger btn-round">
            <i class="fa fa-download"></i> 
            Download Code 
        </button>
    </div>
</div>