
                                
    <div class="jumbotron text-center">
        <!-- <img [src]="product?.attributes | attribute:'attribute':'architecture': 'image'"> -->
        <img [src]="'http://res.cloudinary.com/dzmrr9uj9/image/upload/restapi4_lightgray.png'" width="50" height="50">
        <h2>{{product?.subtitle}}</h2>
        <h4 class="mb-3">{{product?.title}}</h4>
        
    </div>

    <div class="content">
        <div class="m-1">
            <img [src]="product?.attributes | attribute:'language':'image'">
        </div>
        <div class="m-1">
            <img [src]="product?.attributes | attribute:'framework':'image'">
        </div>
    </div>
    