:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.collection-cards {
    display: flex;
    flex-wrap: wrap;
}

.collection-card {
    flex: 0 0 250px;
    border: 1px solid lightgray;
    margin: 5px;
    height: 20vh;
}